### Load, transformation and few selects with PySpark and Jupyter

In [266]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as Func
from pyspark.sql.types import *
from pyspark.sql.functions import *
import pandas as pd
from sqlalchemy import create_engine

In [267]:
# iniciando uma Spark Session
spark = SparkSession.builder \
    .master("local") \
        .appName("etl") \
            .config("spark.executer.memory","1gb") \
                .getOrCreate()

# changing settings of pyspark for date transformation                
spark.sql("set spark.sql.legacy.timeParserPolicy=LEGACY")

DataFrame[key: string, value: string]

In [268]:
engine = create_engine("postgresql+psycopg2://postgres:root@localhost:5432/covid?client_encoding=utf8")

In [269]:
df_nwd = pd.read_sql('SELECT * FROM national_weekly_data', engine)
df_cotw = pd.read_sql('SELECT * FROM countries_of_the_world', engine)

In [270]:
national_weekly_data_spk = spark.createDataFrame(df_nwd)
countries_of_the_world_spk = spark.createDataFrame(df_cotw)

In [273]:
national_weekly_data_spk.schema

StructType(List(StructField(index,LongType,true),StructField(country,StringType,true),StructField(country_code,StringType,true),StructField(continent,StringType,true),StructField(population,LongType,true),StructField(indicator,StringType,true),StructField(weekly_count,DoubleType,true),StructField(year_week,StringType,true),StructField(cumulative_count,LongType,true),StructField(source,StringType,true),StructField(rate_14_day,DoubleType,true),StructField(note,StringType,true)))

In [274]:
countries_of_the_world_spk.schema

StructType(List(StructField(index,LongType,true),StructField(Country,StringType,true),StructField(Region,StringType,true),StructField(Population,LongType,true),StructField(Area (sq. mi.),LongType,true),StructField(Pop. Density (per sq. mi.),StringType,true),StructField(Coastline (coast/area ratio),StringType,true),StructField(Net migration,StringType,true),StructField(Infant mortality (per 1000 births),StringType,true),StructField(GDP ($ per capita),DoubleType,true),StructField(Literacy (%),StringType,true),StructField(Phones (per 1000),StringType,true),StructField(Arable (%),StringType,true),StructField(Crops (%),StringType,true),StructField(Other (%),StringType,true),StructField(Climate,StringType,true),StructField(Birthrate,StringType,true),StructField(Deathrate,StringType,true),StructField(Agriculture,StringType,true),StructField(Industry,StringType,true),StructField(Service,StringType,true)))

In [275]:
national_weekly_data_spk = national_weekly_data_spk.withColumn("cumulative_count", national_weekly_data_spk["cumulative_count"].cast(IntegerType()))
national_weekly_data_spk = national_weekly_data_spk.withColumn("population", national_weekly_data_spk["population"].cast(IntegerType()))
national_weekly_data_spk = national_weekly_data_spk.withColumn("weekly_count", national_weekly_data_spk["weekly_count"].cast(IntegerType()))
national_weekly_data_spk = national_weekly_data_spk.withColumn("rate_14_day", national_weekly_data_spk["rate_14_day"].cast(DoubleType()))
national_weekly_data_spk = national_weekly_data_spk.withColumn("day_of_year", Func.to_date(Func.col("year_week"), "yyyy-ww"))

In [276]:
tempList = []
for col in countries_of_the_world_spk.columns:
    new_name = col.strip()
    new_name = "".join(new_name.split())
    new_name = new_name.replace('.','')
    tempList.append(new_name)

In [277]:
tempList

['index',
 'Country',
 'Region',
 'Population',
 'Area(sqmi)',
 'PopDensity(persqmi)',
 'Coastline(coast/arearatio)',
 'Netmigration',
 'Infantmortality(per1000births)',
 'GDP($percapita)',
 'Literacy(%)',
 'Phones(per1000)',
 'Arable(%)',
 'Crops(%)',
 'Other(%)',
 'Climate',
 'Birthrate',
 'Deathrate',
 'Agriculture',
 'Industry',
 'Service']

In [278]:
countries_of_the_world_spk = countries_of_the_world_spk.toDF(*tempList)

In [280]:
countries_of_the_world_spk.show()

+-----+------------------+--------------------+----------+----------+-------------------+--------------------------+------------+------------------------------+---------------+-----------+---------------+---------+--------+--------+-------+---------+---------+-----------+--------+-------+
|index|           Country|              Region|Population|Area(sqmi)|PopDensity(persqmi)|Coastline(coast/arearatio)|Netmigration|Infantmortality(per1000births)|GDP($percapita)|Literacy(%)|Phones(per1000)|Arable(%)|Crops(%)|Other(%)|Climate|Birthrate|Deathrate|Agriculture|Industry|Service|
+-----+------------------+--------------------+----------+----------+-------------------+--------------------------+------------+------------------------------+---------------+-----------+---------------+---------+--------+--------+-------+---------+---------+-----------+--------+-------+
|    0|      Afghanistan |ASIA (EX. NEAR EA...|  31056997|    647500|               48,0|                      0,00|       23,06|                        163,07|          700.0|       36,0|            3,2|    12,13|    0,22|   87,65|      1|     46,6|    20,34|       0,38|    0,24|   0,38|
|    1|          Albania |EASTERN EUROPE   ...|   3581655|     28748|              124,6|                      1,26|       -4,93|                         21,52|         4500.0|       86,5|           71,2|    21,09|    4,42|   74,49|      3|    15,11|     5,22|      0,232|   0,188|  0,579|
|    2|          Algeria |NORTHERN AFRICA  ...|  32930091|   2381740|               13,8|                      0,04|       -0,39|                            31|         6000.0|       70,0|           78,1|     3,22|    0,25|   96,53|      1|    17,14|     4,61|      0,101|     0,6|  0,298|
|    3|   American Samoa |OCEANIA          ...|     57794|       199|              290,4|                     58,29|      -20,71|                          9,27|         8000.0|       97,0|          259,5|       10|      15|      75|      2|    22,46|     3,27|       null|    null|   null|
|    4|          Andorra |WESTERN EUROPE   ...|     71201|       468|              152,1|                      0,00|         6,6|                          4,05|        19000.0|      100,0|          497,2|     2,22|       0|   97,78|      3|     8,71|     6,25|       null|    null|   null|
|    5|           Angola |SUB-SAHARAN AFRIC...|  12127071|   1246700|                9,7|                      0,13|           0|                        191,19|         1900.0|       42,0|            7,8|     2,41|    0,24|   97,35|   null|    45,11|     24,2|      0,096|   0,658|  0,246|
|    6|         Anguilla |LATIN AMER. & CAR...|     13477|       102|              132,1|                     59,80|       10,76|                         21,03|         8600.0|       95,0|          460,0|        0|       0|     100|      2|    14,17|     5,34|       0,04|    0,18|   0,78|
|    7|Antigua & Barbuda |LATIN AMER. & CAR...|     69108|       443|              156,0|                     34,54|       -6,15|                         19,46|        11000.0|       89,0|          549,9|    18,18|    4,55|   77,27|      2|    16,93|     5,37|      0,038|    0,22|  0,743|
|    8|        Argentina |LATIN AMER. & CAR...|  39921833|   2766890|               14,4|                      0,18|        0,61|                         15,18|        11200.0|       97,1|          220,4|    12,31|    0,48|   87,21|      3|    16,73|     7,55|      0,095|   0,358|  0,547|
|    9|          Armenia |C.W. OF IND. STATES |   2976372|     29800|               99,9|                      0,00|       -6,47|                         23,28|         3500.0|       98,6|          195,7|    17,55|     2,3|   80,15|      4|    12,07|     8,23|      0,239|   0,343|  0,418|
|   10|            Aruba |LATIN AMER. & CAR...|     71891|       193|              372,5|                     35,49|           0|                          5,89|        28000.0|       97,0|          516,1|    10,53|       0|   89,47|      2|    11,03|     6,68|      0,004|   0,333|  0,663|
|   11|        Australia |OCEANIA          ...|  20264082|   7686850|                2,6|                      0,34|        3,98|                          4,69|        29000.0|      100,0|          565,5|     6,55|    0,04|   93,41|      1|    12,14|     7,51|      0,038|   0,262|    0,7|
|   12|          Austria |WESTERN EUROPE   ...|   8192880|     83870|               97,7|                      0,00|           2|                          4,66|        30000.0|       98,0|          452,2|    16,91|    0,86|   82,23|      3|     8,74|     9,76|      0,018|   0,304|  0,678|
|   13|       Azerbaijan |C.W. OF IND. STATES |   7961619|     86600|               91,9|                      0,00|        -4,9|                         81,74|         3400.0|       97,0|          137,1|    19,63|    2,71|   77,66|      1|    20,74|     9,75|      0,141|   0,457|  0,402|
|   14|     Bahamas, The |LATIN AMER. & CAR...|    303770|     13940|               21,8|                     25,41|        -2,2|                         25,21|        16700.0|       95,6|          460,6|      0,8|     0,4|    98,8|      2|    17,57|     9,05|       0,03|    0,07|    0,9|
|   15|          Bahrain |NEAR EAST        ...|    698585|       665|             1050,5|                     24,21|        1,05|                         17,27|        16900.0|       89,1|          281,3|     2,82|    5,63|   91,55|      1|     17,8|     4,14|      0,005|   0,387|  0,608|
|   16|       Bangladesh |ASIA (EX. NEAR EA...| 147365352|    144000|             1023,4|                      0,40|       -0,71|                          62,6|         1900.0|       43,1|            7,3|    62,11|    3,07|   34,82|      2|     29,8|     8,27|      0,199|   0,198|  0,603|
|   17|         Barbados |LATIN AMER. & CAR...|    279912|       431|              649,5|                     22,51|       -0,31|                          12,5|        15700.0|       97,4|          481,9|    37,21|    2,33|   60,46|      2|    12,71|     8,67|       0,06|    0,16|   0,78|
|   18|          Belarus |C.W. OF IND. STATES |  10293011|    207600|               49,6|                      0,00|        2,54|                         13,37|         6100.0|       99,6|          319,1|    29,55|     0,6|   69,85|      4|    11,16|    14,02|      0,093|   0,316|  0,591|
|   19|          Belgium |WESTERN EUROPE   ...|  10379067|     30528|              340,0|                      0,22|        1,23|                          4,68|        29100.0|       98,0|          462,6|    23,28|     0,4|   76,32|      3|    10,38|    10,27|       0,01|    0,24|  0,749|
+-----+------------------+--------------------+----------+----------+-------------------+--------------------------+------------+------------------------------+---------------+-----------+---------------+---------+--------+--------+-------+---------+---------+-----------+--------+-------+
only showing top 20 rows

In [281]:
national_weekly_data_spk = national_weekly_data_spk.select("country", "country_code", "continent", \
    "population", "indicator", "weekly_count", "year_week", "rate_14_day", \
        "cumulative_count", "source", "day_of_year")

In [282]:
# q1
national_weekly_data_spk.select("country", "cumulative_count", "year_week")\
    .where(Func.col("year_week") == "2020-31")\
        .where(Func.col("indicator") == "cases")\
            .orderBy(Func.col("cumulative_count").desc())\
                .show()

22/05/20 13:06:52 WARN TaskSetManager: Stage 183 contains a task of very large size (5670 KiB). The maximum recommended task size is 1000 KiB.

+--------------------+----------------+---------+
|             country|cumulative_count|year_week|
+--------------------+----------------+---------+
|     America (total)|         9802912|  2020-31|
|United States Of ...|         4667955|  2020-31|
|        Asia (total)|         4155673|  2020-31|
|      Europe (total)|         3233940|  2020-31|
|              Brazil|         2733677|  2020-31|
|               India|         1803695|  2020-31|
|      EU/EEA (total)|         1459173|  2020-31|
|      Africa (total)|          957830|  2020-31|
|              Russia|          850870|  2020-31|
|        South Africa|          511485|  2020-31|
|              Mexico|          488250|  2020-31|
|                Peru|          428850|  2020-31|
|               Chile|          359731|  2020-31|
|            Colombia|          317651|  2020-31|
|               Spain|          309631|  2020-31|
|                Iran|          309437|  2020-31|
|      United Kingdom|          306830|  2020-31|
|            Pakistan|          280029|  2020-31|
|        Saudi Arabia|          278835|  2020-31|
|              Turkey|          273236|  2020-31|
+--------------------+----------------+---------+
only showing top 20 rows

In [283]:
# q2
national_weekly_data_spk.select("country", "cumulative_count", "year_week")\
    .where(Func.col("year_week") == "2020-31")\
        .where(Func.col("indicator") == "cases")\
            .orderBy(Func.col("cumulative_count").asc())\
                .show(10)

22/05/20 13:06:58 WARN TaskSetManager: Stage 184 contains a task of very large size (5670 KiB). The maximum recommended task size is 1000 KiB.

+--------------------+----------------+---------+
|             country|cumulative_count|year_week|
+--------------------+----------------+---------+
|            Anguilla|               3|  2020-31|
|British Virgin Is...|               9|  2020-31|
|Bonaire, Saint Eu...|              11|  2020-31|
|            Holy See|              12|  2020-31|
|Falkland Islands ...|              13|  2020-31|
|          Montserrat|              13|  2020-31|
|           Greenland|              14|  2020-31|
|Saint Kitts And N...|              17|  2020-31|
|            Dominica|              18|  2020-31|
|                Laos|              20|  2020-31|
+--------------------+----------------+---------+
only showing top 10 rows